.ghe {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  background-color: rgb(166, 165, 165);
}

.gheVip {
  background-color: orange;
}
.gheDangDat {
  background-color: green;
}

.gheDaDat {
  background-color: red;
  cursor: no-drop;
}
.gheMinhDat {
  background-color: violet;
}
